body {
  background-color: #fe7f00;
  text-align: center;
}

body, article h2, article h3, article p {
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

article h1, article h2 {
  font-size: 56px;
}
article h3 {
  font-weight: 700;
  text-align: center;
}
article p {
  font-size: 26px;
  line-height: 1.5;
}

header {
  background: url(../img/incuna_logo.png) no-repeat center;
  height: 200px;
  margin-top: -200px;
  text-align: center;
}

.content #description {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

#gistid {
  display: none;
}

img {
  max-height: 600px;
}
