body {
  background-color: #fe7f00;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

p, ul {
  font-size: 1em;
  line-height: 1.5;
  margin: 1em auto;
  width: 500px;
}

ul {
  list-style-position: inside;
}

a {
  color: inherit;
  padding-bottom: 1px;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
}

header {
  background: url(../img/incuna_logo.png) no-repeat center;
  height: 200px;
  margin-top: -200px;
  text-align: center;
}

.content #description {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

#gistid {
  display: none;
}

img {
  max-height: 600px;
}
